<div class="sidebar">
  <div class="row">
    <div class="col-12">
      <p>{{ site.description }}</p>
    </div>
  </div>
  <nav class="row">
    <div class="col-12">
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.layout == "page" %}
      <div class="col-12">
        <a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      <div class="col-12">
        <a href="{{ site.github.repo }}">GitHub</a>
      </div>
    </div>
  </nav>

  <div class="col-12" style="padding-top:15px;">
    <p class="sidebar-copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
