// CSS multi-dimensional is: top right bottom left
// CSS borders are style(solid|dotted|etc) size color
@import "base/_mixins";

.whiteboard-title {
  font-family: 'Ubuntu Condensed', sans-serif;
}

a {
  text-decoration: none;
  background: transparent;
  &:active,
  &:hover {
    text-decoration: underline;
  }
  .primary {
    text-decoration: none;
    background: transparent;
    color: $primary-light;
    &:active,
    &:hover {
      color: $secondary-light;
    }
  }
  .secondary {
    text-decoration: none;
    background: transparent;
    color: $secondary-light;
    &:active,
    &:hover {
      color: $primary-light;
    }
  }
}

.sidebar {
  margin:10px;
  a {
    color: $secondary-fg;
  }
  nav {
    a {
      @extend .col-12;
      display:block;
      border-width: 0px 0px 1px 0px;
      border-style: dotted;
      border-color: $primary-dim;
      &:active,
      &:hover {
        color: $secondary-fg;
        background-color: $secondary-light;
      }
    }
  }
}

body {
  overflow-y: scroll;
}
