---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="name headline">{{ page.title }}</h2>
    <p class="primary-dim-fg"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.author %}
    <p class="primary-dim-fg">by
    {% if author.gravatar %}<img src="http://s.gravatar.com/avatar/{{ author.gravatar }}?s=20">{% endif %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {% if author.web %}(<a href="{{ author.web }}">{{ author.web }}</a>){% endif %}
    </p>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
